{% extends 'news/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login | Newsta{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>Login</span></h2>
    </div>
    <div class="single_post_content">
        <ul class="delete_section wow">
            <li>
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button type="submit" class="btn btn-green">Login</button>
                        <div style="float: right;">
                            <p style="display: inline;">Does your profile not exist?</p>
                            <a href="{% url 'password_reset' %}" class="btn default-btn">Password reset</a>
                        </div>
                        <div>
                            <p style="float: right;">If your profile does not exist, you can <a href="{% url 'signup' %}" class="" style="color: #12A3DF; text-decoration: underline;">Signup</a> </p>
                        </div>
                    </div> 
                </form>                    
            </li>
        </ul>
    </div>
    
{% endblock content %}