{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% load crispy_forms_tags %}

{% block title %}Password reset | Fibona News{% endblock title %}

{% block content %}
    
    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Password reset</span></h2>
          </div>  
          <div class="single_post_content">
            <ul class="delete_section">
                <li>
                    <div class="error_page">
                      <h3>Forgot password?</h3>
                      <img src="{% static 'css/images/icons8-password-150.png' %}" alt="Forgot password?">
                      <div class="latest_postnav">
                          <p class="">Enter your email address below, and we'll send you a password reset guide!</p>
                      </div>
                    </div> 
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <div class="img-center">
                            <button type="submit" class="btn btn-green">Send</button>
                            <a class="btn default-btn" href="{% url 'login' %}">Login page</a>
                        </div> 
                    </form>                    
                </li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular News</span></h2>
            <ul class="spost_nav">
              {% for news in popular_news %}  
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="{% static 'images/post_img1.jpg' %}" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> 
                      <a href="pages/single_page.html" class="catg_title">{{ news.title | truncatewords:8 }}</a> 
                      <p><i class="fa fa-eye text-muted"></i> {% get_hit_count for news %}</p>
                  </div>
                </div>
              </li>
              {% endfor %}  
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
    
{% endblock content %}