{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}

{% block title %}New password | Fibona News{% endblock title %}

{% block content %}
    
    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Create a new password!</span></h2>
          </div>  
          <div class="single_post_content">
            <ul class="delete_section">
                {% if validlink %}
                <li>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <div class="img-center">
                            <button type="submit" class="btn btn-green">Save</button>
                        </div> 
                    </form>                    
                </li>
                {% else %}
                <li>
                    <div class="img-center">
                        <h3>
                            This link is not valid or may have been used before! <br><br>
                            You can try again by <a class="btn default-btn" href="{% url 'password_reset' %}">Resend</a>
                        </h3>    
                    </div>
                </li>    
                {% endif %}
            </ul>
          </div> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular News</span></h2>
            <ul class="spost_nav">
              {% for news in popular_news %}  
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="{% static 'images/post_img1.jpg' %}" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> 
                      <a href="pages/single_page.html" class="catg_title">{{ news.title | truncatewords:8 }}</a> 
                      <p><i class="fa fa-eye text-muted"></i> {% get_hit_count for news %}</p>
                  </div>
                </div>
              </li>
              {% endfor %}  
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
    
{% endblock content %}