{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Password change | Fibona News{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>{% blocktranslate %}Password change{% endblocktranslate %}</span></h2>
    </div>
        <div class="single_post_content">
            <ul class="delete_section">
                <li>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <div class="btn-section">
                            <button type="submit" class="btn btn-green">{% blocktranslate %}Change{% endblocktranslate %}</button>
                            <a class="btn default-btn" href="{% url 'dashboard' %}">{% blocktranslate %}Go back{% endblocktranslate %}</a>
                        </div> 
                    </form>                    
                </li>
            </ul>
        </div>
    
{% endblock content %}