{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}

{% block title %}Password changed | Fibona News{% endblock title %}
{% block content %}
    
<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>{% blocktranslate %}Password changed{% endblocktranslate %}</span></h2>
          </div>  
          <div class="error_page">
              <h3>{% blocktranslate %}Password changed!{% endblocktranslate %}</h3>
              <img src="{% static 'css/images/icons8-done-188.png' %}" alt="Password changed!">
              <p>{% blocktranslate %}You can log in the site with the new password.{% endblocktranslate %}</p>
              <span></span> <a href="{% url 'login' %}" class="wow fadeInLeftBig">{% blocktranslate %}Login{% endblocktranslate %}</a> 
          </div> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktranslate %}Popular News{% endblocktranslate %}</span></h2>
            <ul class="spost_nav">
              {% for news in popular_news %}  
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="{% static 'images/post_img1.jpg' %}" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> 
                      <a href="pages/single_page.html" class="catg_title">{{ news.title | truncatewords:8 }}</a> 
                      <p><i class="fa fa-eye text-muted"></i> {% get_hit_count for news %}</p>
                  </div>
                </div>
              </li>
              {% endfor %}  
            </ul>
          </div>
        </aside>
      </div>
    </div>
</section>
    
{% endblock content %}