{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}My Page | Fibona News{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>{% blocktranslate %}My Page{% endblocktranslate %}</span></h2>
    </div>
    <div class="clr"></div>
    <div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">    
                    <div class="">
                          {% if user.profile.photo %}
                              <img class="profile_img" src="{{ user.profile.photo.url }}" alt="">
                          {% else %}  
                              <img class="profile_img" src="{% static 'css/images/profile.png' %}" alt="">
                          {% endif %}
                    </div>  
                    <div class="margin-top">
                        <h4>{{ user.username }}</h4>
                        <h6 class="text-secondary mb-1">{{ user.profile.address }}</h6>
                        <h6 class="text-muted font-size-sm">{% blocktranslate %}Joined at{% endblocktranslate %} {{ user.date_joined | date }}</h6>
                        <a href="{% url 'password_change' %}" class="btn btn-out-theme">{% blocktranslate %}Change password{% endblocktranslate %}</a>
                        <form method="post" action="{% url 'logout' %}" class="">{% csrf_token %}
                          <button type="submit" class="btn btn-theme">{% blocktranslate %}Logout{% endblocktranslate %}</button>  
                        </form>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{% blocktranslate %}First Name{% endblocktranslate %}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.first_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{% blocktranslate %}Last Name{% endblocktranslate %}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.last_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{% blocktranslate %}Email{% endblocktranslate %}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{% blocktranslate %}Phone{% endblocktranslate %}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.phone_number }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{% blocktranslate %}Date of birth{% endblocktranslate %}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.birth_date }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " href="{% url 'user_change' %}">{% blocktranslate %}Edit Profile{% endblocktranslate %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
{% endblock content %}