{% extends 'news/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock extrahead %}

{% block title %}Create News | Fibona News{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>Create News</span></h2>
    </div>
        <div class="single_post_content">
            <ul class="delete_section wow">
                <li>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy }}
                        <div class="btn-section">
                            <a href="{% url 'home' %}" class="btn default-btn">Go Home</a>
                            <button type="submit" class="btn btn-green">Save</button>
                        </div>
                    </form>                    
                </li>
            </ul>
        </div>
    
{% endblock content %}