{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Edit News | Fibona News{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>{% blocktranslate %}Edit News{% endblocktranslate %}</span></h2>
    </div>
        <div class="single_post_content">
            <ul class="delete_section wow">
                <li>
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy }}
                        <div class="btn-section">
                            <a href="{{ news.get_absolute_url }}" class="btn default-btn">{% blocktranslate %}Go Back{% endblocktranslate %}</a>
                            <button type="submit" class="btn btn-green">{% blocktranslate %}Edit{% endblocktranslate %}</button>
                        </div>
                    </form>                    
                </li>
            </ul>
        </div>
    
{% endblock content %}