{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Delete News | Fibona News{% endblock title %}

{% block content %}
    <div class="single_post_content">
        <h2><span>{% blocktranslate %}Delete News{% endblocktranslate %}</span></h2>
    </div>
    <div class="single_post_content">
        <ul class="delete_section wow">
            <li>
                <div class="single_post_content_left">
                    <figure class="bsbig_fig wow"> <a href="{{ news.get_absolute_url }}" class="featured_img"> <img alt="{{ news.title }}" src="{{ news.image.url }}"> <span class="overlay"></span> </a></figure>
                </div>
                <div class="single_post_content_right">
                    <h3> <a href="{{ news.get_absolute_url }}">{{ news.title }}</a> </h3>
                    <p>{{ news.body | truncatewords:15 }}</p>
                </div>
            </li>
            <li>
                <form method="post">{% csrf_token %}
                    <figure class=bsbig_fig>
                        <figcaption class="text-center">{% blocktranslate %}Do you want to delete the news{% endblocktranslate %} "{{ news.title }}"?</figcaption>
                    </figure>
                    <div class="btn-section">
                        <a href="{{ news.get_absolute_url }}" class="btn default-btn">{% blocktranslate %}Go Back{% endblocktranslate %}</a>
                        <button type="submit" class="btn btn-red">{% blocktranslate %}Delete{% endblocktranslate %}</button>
                    </div>
                </form>                    
            </li>
        </ul>
    </div>
    
{% endblock content %}