{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}Contact | Fibona News{% endblock title %}

{% block content %}
  
  <section id="contentSection">  
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
            <p>
                If you have any questions or suggestions for us, you can contact us 
                quickly and easily by filling out the form below!
            </p>
            <form action="#" method="post" class="contact_form">{% csrf_token %}
              <input class="form-control" type="text" placeholder="Name*" name="name">
              <input class="form-control" type="email" placeholder="Email*" name="email">
              <textarea class="form-control" cols="30" rows="10" placeholder="Message*" name="message"></textarea>
              <input type="submit" value="Send Message">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular News</span></h2>
            <ul class="spost_nav">
              {% for news in popular_news %}  
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="{% static 'images/post_img1.jpg' %}" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> 
                      <a href="pages/single_page.html" class="catg_title">{{ news.title | truncatewords:8 }}</a> 
                      <p><i class="fa fa-eye text-muted"></i> {% get_hit_count for news %}</p>
                  </div>
                </div>
              </li>
              {% endfor %}  
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>

{% endblock content %}  